[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
notion-client = "*"
python-dotenv = "*"
django-cors-headers = "*"
requests = "*"
whitenoise = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
